{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "auto",
  "useTabs": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^(\\.\\./)+(src/)?core/",
    "^(\\.\\./)+(src/)?three/",
    "^(\\.\\./)+(src/)?(react|dom)/",
    "^(\\.\\./)+[^/]+$",
    "^\\.\\./",
    "^\\./[^/]+$",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderSideEffects": false
}
